<ul>
  <!-- <li *ngFor="let item of todos; index as i" [style.text-decoration]="item.done ? 'line-through' : ''"><span class="content">{{item.subject}}</span></li>  -->

  <li *ngFor="let item of todos; index as i" [ngClass]="{ 'done': item.done }">
    <span class="content"><a [routerLink]="['/todo', item.id]" href="#">{{item.subject}}</a></span>
    <input type="checkbox" [(ngModel)]="item.done" (change)="itemChange(item)">
    <span class="remove" (click)="itemClick(item)">x</span>
  </li>
</ul>
